.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
    &-list {
      &-item::before {
        content: "";
        display: block;
        height: 120px;
        background-color: $secondary-background;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 4px;
        margin-bottom: 30px;
      }
      &-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.142;
        text-transform: uppercase;
        color: $classic-black;
        margin-bottom: 12px;
      }
      &-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.714;
        color: $main-text-color;
      }
    }
  }
 
.icon{
  &-aerial::before {
    background-image: url("../images/advantages/icon-aerial.svg");
  }
  &-clock::before {
    background-image: url("../images/advantages/icon-clock.svg");
  }
  &-laptop::before {
    background-image: url("../images/advantages/icon-laptop.svg");
  }
  &-astronaut::before {
    background-image: url("../images/advantages/icon-astronaut.svg");
  }
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .advantages {
    &-list-item:not(:last-child){
      margin-bottom: 30px;
    }
    &-list-title {
      text-align: center;
    }
    // &-list-text {
    //   width: 375px;
    // }
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages {
    &-list {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
    &-list-item {
      margin: 15px;
    }
    &-list-text {
      width: 354px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
    padding-bottom: 0;
    &-list {
      display: flex;
    }
    &-list-item {
      width: 270px;
    }
    &-list-item:not(:last-child) {
      margin-right: 30px;
    }
   }
}