.hero {
    background-color: #c4c4c4;

    &-overlay {
      height: 400px;
      margin-left: auto;
      margin-right: auto;
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-mobile.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      padding: 118px 0;
    }
    &-title {
      font-weight: 900;
      font-size: 26px;
      line-height: 1.6;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      margin: 0 auto;
      margin-bottom: 30px;
      color: $classic-white;
    }
  }
@media screen and (max-width: 479px) {
  .hero-title {
    width: 320px;
  }
}
@media screen and (max-width: 767px) {
  .hero-overlay {
    max-width: 480px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .hero-title {
    width: 360px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
  screen and (min-resolution: 192dpi) and (min-width: 320px),
  screen and (min-resolution: 2dppx) and (min-width: 320px) {
    .hero-overlay {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-mobile@2x.jpg);
    }
  }
@media screen and (min-width: 768px) {
  .hero-overlay {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero-overlay {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-tablet@2x.jpg);
    }
  }
@media screen and (min-width: 1200px) {
  .hero-overlay {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-desctop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero-title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero-overlay {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-desctop@2x.jpg);
    }
  }