.logo {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
  @media screen and (max-width: 1199px) {
    margin-right: 80px;
  }
  &-web {
    color: $accent-color;
  }
  &-studio-dark {
    color: $classic-black;
  }
  &-studio-white {
    color: $classic-white;
  }
  .footer & {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 320px) {
  .footer .logo {
    margin-right: 0px;
  }
}

